<!DOCTYPE html>
<html>
  <body>
    <mat-grid-list cols="3">
      <mat-grid-tile *ngFor="let drink of hotDrinks | async" (click)="drinkClicked(drink)">
        <img src={{drink.img}}>
        <div>
          <h1>{{drink.name}}</h1>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-button routerLink="/cart">Continue to cart</button>
  </body>
</html>