<!DOCTYPE html>
<html>
  <body>
    <!-- <input id="cardholder-name" type="text">
    <div id="card-element"></div>
    <button id="card-button">Submit payment</button> -->
    <h1>Enter your details</h1>
    <h2>Billing address:</h2>
    <!-- <div class="address-container">
      <mat-form-field floatLabel="auto">
        <input matInput appearance="standard" required aria-required="true" placeholder="Full name">
      </mat-form-field>
      <mat-form-field>
        <input matInput required aria-required="true" placeholder="Address Line 1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 2 (optional)">
      </mat-form-field>
      <mat-form-field>
        <input matInput required aria-required="true" placeholder="Town/City">
      </mat-form-field>
      <div class="small-address-holder">
        <mat-form-field class="small-address">
          <input matInput required aria-required="true" placeholder="County">
        </mat-form-field>
        <mat-form-field class="small-address">
          <input matInput required aria-required="true" placeholder="Post Code">
        </mat-form-field>
      </div>
    </div> -->
    <button mat-button (click)="getCheckoutId()">Confirm & pay</button>
  </body>
</html>