<!DOCTYPE html>
<html>
  <body>
    <h2>Customise your order</h2>
    <mat-dialog-content>
      <h3>{{data.name}} - £{{data.price}}</h3>
      <h4>{{data.description}}</h4>
      <mat-list>
        <mat-list-item>
          <h4>Blend: </h4>
          <mat-form-field>
            <mat-select #blend_selector>
              <mat-option (onSelectionChange)="onBlendSelected(blend)" *ngFor="let blend of data.available_blends" [value]="blend.value">{{blend}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="addToCart()">Add</button>
      <button mat-button (click)="dialogRef.close()">Cancel</button>
    </mat-dialog-actions>
  </body>
</html>