// .nav-container {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }

// @import "../../../ourplace-theme.scss";

body {
    height: 850px;
}

mat-sidenav {
    width: 200px;
}

.sidenav-list {
    height: 500px;
}

.mat-icon {
    color: #e0e0e0;
}

// .mat-sidenav {
//     background: '#212121';
// }

// #menu-toggle {
//     background: '#DB6B18B';
// }