<!DOCTYPE html>
<html>
    <body>
        <mat-toolbar>
          <mat-toolbar-row>
            <button type="button" aria-label="navigation" mat-icon-button (click)="sidenav.toggle()" color="primary" id="menu-toggle">
              <mat-icon aria-label="sidebar toggle">menu</mat-icon>
            </button>
            <span>Ourplace Coffee</span>
            <button type="button" aria-label="account" mat-icon-button (click)="checkAccount()" color="primary">
              <mat-icon aria-label="account">perm_identity</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-sidenav-container class="nav-container">
          <mat-sidenav #sidenav mode="over" role="navigation">
            <mat-nav-list class="sidenav-list">
              <a mat-list-item routerLink='/home'>Home</a>
              <a mat-list-item routerLink='/hot_drink'>Hot Drinks</a>
              <a mat-list-item routerLink='/payment'>Stripe</a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <router-outlet></router-outlet>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </body>
</html>