/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/theming';
// @include mat-core();

// $ourplace-app-primary: mat-palette('#212121');
// $ourplace-app-accent: mat-palette('#B75D69');

// $ourplace-app-warn: mat-palette('#774C60');

// $ourplace-app-theme: mat-dark-theme($ourplace-app-primary, $ourplace-app-accent, $ourplace-app-warn);

// @include angular-material-theme($ourplace-app-theme);